:root {

  /* black */
  --base00: #1E2326;
  --base08: #272E33;

  /* red */
  --base01: #E67E80;
  --base09: #E67E80;

  /* green */
  --base02: #A7C080;
  --base0A: #83C092;

  /* yellow */
  --base03: #DBBC7F;
  --base0B: #DBBC7F;

  /* blue */
  --base04: #7FBBB3;
  --base0C: #7FBBB3;

  /* magenta */
  --base05: #D699B6;
  --base0D: #D699B6;

  /* cyan */
  --base06: #83C092;
  --base0E: #83C092;

  /* white */
  --base07: #D3C6AA;
  --base0F: #F2EFDF;

  /* special */
  --fg: var(--base07);
  --bg: var(--base00);
  --cursorColor: var(base0F);
  --highlight-fg: var(--base04);
  --title-fg: var(--base02);
  --title-two-fg: var(--base03);
  --fade-fg: var(--base06);
  --highlight-bg: var(--base08);
  --light-bg: var(--base01);
}

html {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,'Helvetica', 'Arial', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
  color: var(--fg);
  background: var(--bg);
  background-attachment: fixed;
}

body {
  line-height: 1.4;
}

main {
  padding-top: 3px;
  margin: auto;
  max-width: 100vw;
}

#page-container {
  position: relative;
  min-height: 98vh;
}

#content-wrap {
  padding-bottom:9rem;
  display: flex;
  flex-direction: column;
}

h1 {
  color: var(--title-fg);
}

h2 {
  color: var(--title-fg);
}

h3 {
  color: var(--title-two-fg);
}

a,
a:visited,
a:hover {
  color: var(--highlight-fg);
  text-decoration: none;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
}
a:hover,
a:visited:hover,
a:hover:hover {
  color: var(--base0F);
}

figure {
  margin: auto;
  width: 80%;
}

img {
  max-width: 450px;
  max-height: 450px;
  display: block;
  margin: auto;
}
figcaption {
  text-align: center;
}

header {
  padding-top: 1em;
  width: 97%;
}

footer {
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  font-size: 1em;
}

nav {
  font-size: 1em;
  float: right;
}

nav a {
  padding: 10px 10px;
}

article {
  font-size: 1.2em;
  margin: 3em auto;
  max-width: 800px;
}


p {
  width: 100%;
  /* line-height: 1.6em;
  letter-spacing: 0.02em;
  margin: 1em 0 0 0; */
}


.tikzpicture {
  height: 200px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

ul.postlist {
  list-style-type: none;
  font-size: 1.5em;
  font-weight: bold;
}

ul.postlist > li {
  margin: 1em 0;
}

table {
  border-collapse: collapse;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid var(--fg);
  text-align: center;
  vertical-align: middle;
}

th, td {
  padding: 0.5em;
}

div.postlist {
  margin: 0;
}

div.date {
  font-size: 0.5em;
  font-weight: normal;
}

ul.footer {
  list-style-type: none;
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: auto;
}
ul.footer > li{
  margine-right: 100px;
}
