a.sourceLine { display: inline-block; line-height: 1.25; }
a.sourceLine { pointer-events: none; color: inherit; text-decoration: inherit; }
a.sourceLine:empty { height: 1.2em; }
.sourceCode { overflow: visible; }
code.sourceCode { white-space: pre; position: relative; }
div.sourceCode { margin: 1em 0; }
pre.sourceCode { margin: 0; }
@media screen {
div.sourceCode { overflow: auto; }
}
@media print {
code.sourceCode { white-space: pre-wrap; }
a.sourceLine { text-indent: -1em; padding-left: 1em; }
}
pre.numberSource a.sourceLine
  { position: relative; left: -4em; }
pre.numberSource a.sourceLine::before
  { content: attr(title);
    position: relative; left: -1em; text-align: right; vertical-align: baseline;
    border: none; pointer-events: all; display: inline-block;
    -webkit-touch-callout: none; -webkit-user-select: none;
    -khtml-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none;
    padding: 0 4px; width: 4em;
    color: #000000;
  }
pre.numberSource { margin-left: 3em; border-left: 1px solid #aaaaaa;  padding-left: 4px; }
div.sourceCode
  {  }
@media screen {
a.sourceLine::before { text-decoration: underline; }
}
code span.al { color: var(--base00); font-weight: bold; } /* Alert */
code span.an { color: var(--base08); font-weight: bold; font-style: italic; } /* Annotation */
code span.at { color: var(--base01); } /* Attribute */
code span.bn { color: var(--base09); } /* BaseN */
code span.bu { } /* BuiltIn */
code span.cf { color: var(--base04); font-weight: bold; } /* ControlFlow */
code span.ch { color: var(--base0A); } /* Char */
code span.cn { color: var(--base03); } /* Constant */
code span.co { color: var(--base07); font-style: italic; } /* Comment */
code span.cv { color: var(--base04); font-weight: bold; font-style: italic; } /* CommentVar */
code span.do { color: var(--base0C); font-style: italic; } /* Documentation */
code span.dt { color: var(--base03); } /* DataType */
code span.dv { color: var(--base0D); } /* DecVal */
code span.er { color: var(--base06); font-weight: bold; } /* Error */
code span.ex { } /* Extension */
code span.fl { color: var(--base0E); } /* Float */
code span.fu { color: var(--base0A); } /* Function */
code span.im { } /* Import */
code span.in { color: var(--base0F); font-weight: bold; font-style: italic; } /* Information */
code span.kw { color: var(--base07); font-weight: bold; } /* Keyword */
code span.op { color: var(--base01); } /* Operator */
code span.ot { color: var(--base01); } /* Other */
code span.pp { color: var(--base09); } /* Preprocessor */
code span.sc { color: var(--base02); } /* SpecialChar */
code span.ss { color: var(--base0A); } /* SpecialString */
code span.st { color: var(--base0A); } /* String */
code span.va { color: var(--base0B); } /* Variable */
code span.vs { color: var(--base04); } /* VerbatimString */
code span.wa { color: var(--base0C); font-weight: bold; font-style: italic; } /* Warning */
